@tailwind base;
@tailwind components;
@tailwind utilities;

div .animate {
  filter: blur(3px);
  transition: 1s;
}

div.show-animation .animate {
  filter: blur(0);
  transition: 0.6s;
}

#main-animate.div-animate .show-appear-animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #1b2021;
  transition: 0.6s;
}

#main-animate.div-animate.show-animation .show-appear-animation {
  width: 0;
}

.div-projects.div-animate .animate {
  opacity: 0;
  transform: translateX(-100%);
}

.div-projects.div-animate.show-animation .animate {
  opacity: 1;
  transform: translateX(0);
}

.div-about.div-animate .animate {
  opacity: 0;
  transform: translateX(100%);
}

.div-about.div-animate.show-animation .animate {
  opacity: 1;
  transform: translateX(0);
}

.div-contact.div-animate .animate {
  opacity: 0;
  transform: translateX(-100%);
}

.div-contact.div-animate.show-animation .animate {
  opacity: 1;
  transform: translateX(0);
}
